{%extends 'base.html'%} 
{% load static %}
{%block content%}

<title>{%block title%}Contact Ape 30 technologies{%endblock%} </title>

    <section class="reachUs">
      <div class="leftColored">
        <h1>Get in touch</h1>
        <h4>
          We love to hear from you. Our friendly team is always here to chat
        </h4>
        <img src= "{% static 'images/callLogo.png' %}" alt="call logo ape 30
        technologies" />
        <h5><span> Call us:</span> <a href="">+254724753175</a></h5>
        <img src="{% static 'images/gmailLogo.png' %}" alt="gmail logo ape 30
        technologies" />
        <h5><span> Email:</span> <a href="">ape30technologies@gmail.com</a></h5>
        <img src="{% static 'images/smsLogo.png' %}" alt="sms logo ape 30
        technologies" />
        <h5><span>Text:</span> <a href="">+254724753175</a></h5>
        <img src="{% static 'images/whatsappLogo.png' %}" alt="whatsapp logo ape
        30 technologies" />
        <h5><span>WhatsApp:</span> <a href="">+254724753175</a></h5>
      </div>

      {% if name %}
      <div class="formDiv">
        <h6 class="success">Submitted successfully</h6>
        <h1>What's in your mind?</h1>
        <h4>Drop your details below. We typically respond within an hour</h4>

        <form action="" method="post">
          {% csrf_token %}
          <label for="name">Name *</label>
          <input type="text" name="name" placeholder="e.g John Doe" required />
          <label for="email">Email *</label>
          <input
            type="email"
            name="email"
            placeholder="e.g john@gmail.com"
            required
          />
          <label for="phoneNumber">Phone number *</label>
          <input
            type="tel"
            name="phoneNumber"
            placeholder="e.g +254724753175"
            required
          />
          <label for="message">Message *</label>
          <textarea
            name="message"
            id=""
            cols="30"
            rows="10"
            required
            placeholder="Your message here"
          ></textarea>

          <input class="subBtn" type="submit" />
        </form>
      </div>

      {% else %}
      <div class="formDiv">
        <h1>What's in your mind?</h1>
        <h4>Drop your details below. We typically respond within an hour</h4>

        <form action="" method="post">
          {% csrf_token %}
          <label for="name">Name *</label>
          <input type="text" name="name" placeholder="e.g John Doe" required />
          <label for="email">Email *</label>
          <input
            type="email"
            name="email"
            placeholder="e.g john@gmail.com"
            required
          />
          <label for="phoneNumber">Phone number *</label>
          <input
            type="tel"
            name="phone"
            placeholder="e.g +254724753175"
            required
          />
          <label for="message">Message *</label>
          <textarea
            name="message"
            id=""
            cols="30"
            rows="10"
            required
            placeholder="Your message here"
          ></textarea>
          <input class="subBtn" type="submit" />
        </form>
      </div>
      {% endif %}
    </section>

{%endblock%}
