{%extends 'base.html'%} 
{% load static %}
{%block content%}

<title>{%block title%}Ape 30 technologies || Home{%endblock%} </title>

    <section class="coverImageContainer">
        <div class="topMainLeftText">
            <h1>We design and develop highly scalable and  responsive websites 
                 and mobile applications</h1>
            <h4>With a team of our highly skilled developers, designer, and by the 
                incorporation of best technologies and practices, we are able to deliver  
                the best mobile and web applications. Let Ape 30 Technologies help you 
                concieve, design, build, ship and scale digital products so you can 
                solve real-world customer problems. </h4>
            <button class="mainBtn" onclick="goToHireUs()">Hire us</button>
        </div>
        
        <img class="leadGif" src= "{% static 'images/ladycode.gif' %}" alt="code with ape 30 technologies">

    </section>

    <section id="aboutUs" class="aboutUs">
        <div class="leftAboutUs">
            <h1>Who are we?</h1>
            <p> <span> Ape 30 technologies </span>is a start-up tech company made up of a team of 
                designers and developers. We deal in web design and development and mobile application 
                design and development, both front-end and back-end.We are motivated and driven towards
                a great customer service and an unforgettable experience. With us, you'll be able to meet
                all your digital needs to transform your dreams to reality.</p>
        </div>

        <div class="rightAboutUs">
            <h1>Where are we?</h1>
            <p> We are a Kenyan tech company based in Nairobi. All our operations are currently online.
                You can reach us out <a href="contactUs">here</a> and talk to us on what you need built for you
                and we will be ready and willing to deliver. In case you need a physical presence, that 
                can also be organized and a perfect spot arranged for that.
            </p>
            <img class="niceGif" src="{% static 'images/nice.gif' %}">
        </div>
       
    </section>

    <section id="ourWork" class="services">
        <div class="leftDivServe">
            <div class="serveWe">
                <h1>Services we offer</h1>
                <p>Our highly skilled personel are ready to deliver 
                    whatever task you <br> have for us. 
                    The duration of completeion the task highly depends <br> on the
                    size of the project at hand.
                </p>
            </div>
            
            <img class="expo" src="{% static 'images/coding.gif' %}" alt="">
        </div>

        <div class="rightServicesDiv">
            <hr class="servicesLine">
            <div class="jobs">
                <p>01. </p>
                <div>
                    <h2 >Web &nbsp; UX/ UI <br> design</h2> 
                    <a class="discover"href="{%url 'hire-ape-30-technologies'%}#webUI">Discover</a>
                </div>
                
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </div>
            <hr class="servicesLine">

            <div class="jobs">
                <p>02. </p>
                <div>
                    <h2>Web<br> development</h2> 
                    <a class="discover"href="{%url 'hire-ape-30-technologies'%}#webDev">Discover</a>
                </div>
            </div>
            <hr class="servicesLine">

            <div class="jobs">
                <p>03. </p>
                <div>
                    <h2>Mobile app <br>UX/UI  design</h2> 
                    <a class="discover"href="{%url 'hire-ape-30-technologies'%}#mobileUI">Discover</a>
                </div>
            </div>
            <hr class="servicesLine">


            <div class="jobs">
                <p>04. </p>
                <div>
                    <h2>Mobile app <br> development</h2> 
                    <a class="discover"href="{%url 'hire-ape-30-technologies'%}#mobileDev">Discover</a>
                </div>
            </div>
            <hr class="servicesLine">
        </div>
    </section>

    <section class="tech">
        <h1>Technologies we use</h1>
        <div class="contCont">
            <div class="techContainersMini">
                <h3>Html, css and javascript</h2>
                <hr class="line" size="0.5" width="10%" color="gray">  
                <h5>We use html, css and javascript for front-end web development</h4>
            </div>
            <div class="techContainersMini">
                <h3>React Native</h2>
                <hr class="line" size="0.5" width="10%" color="gray">  
                <h5>React native framework helps us create native mobile applications for both android and ios </h4>
            </div>
            <div class="techContainersMini">
                <h3>Django and NodeJS</h2>
                <hr class="line" size="0.5" width="10%" color="gray">  
                <h5>We make use django framework nad nodejs for back-end development of websites and mobile applications</h4>
            </div>
            <div class="techContainersMini">
                <h3>MongoDb and firebase</h2>
                <hr class="line" size="0.5" width="10%" color="gray">  
                <h5>MongoDB and firebase are used by our company mainly for database purposes when building mobile apps</h4>
            </div>
            <div class="techContainersMini">
                <h3>Figma</h2>
                <hr class="line" size="0.5" width="10%" color="gray">  
                <h5>A very important tool for user interface design</h4>
            </div>
            <img class="code"  src="{% static 'images/hpCode.gif' %}">
           

        </div>
        
    </section>



    <section class="tech">
        <h1>Our previous work</h1>
        <div class="contCont">
            <div onclick="goToAz()" class="prevWorkContainersMini">
                
                <h3>PYWV</h2>
                <hr class="line" size="0.5" width="10%" color="gray">  
                <h5>Community based organization <span>website</span> </h4>
                <div class="onHovVisit"><h5><a href="https://www.azbinary.com/" target="_blank">Visit site</a> </h5> </div>
            </div>
            <div onclick="goToMsichana()" class="prevWorkContainersMini">
                <h3>Msichana Empowerment Kuria</h2>
                <hr class="line" size="0.5" width="10%" color="gray">  
                <h5>Community based organization <span>website</span> </h4>
               <div class="onHovVisit"><h5><a href="https://www.msichanaempowermentkuria.org/" target="_blank">Visit site</a> </h5> </div>
            </div>
            <div onclick="goToApps()" class="prevWorkContainersMini">
                <h3>My Doctor</h2>
                <hr class="line" size="0.5" width="10%" color="gray">  
                <h5>Health care <span>mobile application</span> </h4>
                <div class="onHovVisit"><h5><a href="{%url 'mobile-apps-built-by-ape-30-technologies'%}">Visit site</a> </h5> </div>
            </div>
            <div onclick="goToApps()" class="prevWorkContainersMini">
                <h3>St. Peters' Diocese </h2>
                <hr class="line" size="0.5" width="10%" color="gray">  
                <h5>Church <span>mobile application</span> </h4>
                <div class="onHovVisit"><h5><a href="{%url 'mobile-apps-built-by-ape-30-technologies'%}">Visit site</a> </h5> </div>

            </div>
        </div>
        
    </section>

  

    <section class="cont">
        <h1>Let's discuss your project</h1>
        <p>Talk to us. Let us know what you need and an indepth understanding of your <br> 
            project will surely help us deliver the project to your desire.
        </p>
        <button class="mainBtn" onclick="goToHireUs()">Contact us</button>
    </section>
        
{%endblock%}
